body {
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	background-color: black;
	color: white;
}

a:link {
	color: white;
}

a:visited {
	color: gray;
}

.clear {
	clear:both;
}

.contents {
	max-width: 900px;
	margin: 10px auto;
}

.header {
	font-size: 2em;
}

.server {
	padding: 0.5em;
	margin: 5px;
	border: 1px solid white;
}

.server-info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.server-map {
	display: inline;
	position: relative;
	margin-right: 1em;
	border: 1px solid gray;
	width: 200;
	height: 125;
}

.server-map-no-image {
	z-index: 1;
	font-size: 2em;
	text-align: center;
	line-height: 125px;
	color: gray;
	background: black;
	position: absolute;
	left: 0;
	top: 0;
	width: 200;
	height: 125;
}

.server-map-image {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 200;
	height: 125;
}

.server-map-name {
	z-index: 3;
	margin: 0;
	padding: 0.2em;
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
}

.server-name {
	font-size: 1.5em;
	font-weight: bold;
}

.server-shit {
	display: inline-block;
}

.server-players {
	text-align: center;
	margin-left: auto;
}

.server-players-count {
	font-size: 3em;
	margin: 0;
}

table {
	max-width: 80%;
	margin: auto;
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid white;
}

td {
	padding: 0.5em;
}